$color_1: #fff;
$color_2: #3B2E43;
$color_3: red;
$color_4: rgb(0, 0, 0);
$font-family_1: "Roboto", sans-serif;
$font-family_2: 0.9rem;
$background-color_1: #fff;
$background-color_2: grey;
$background-color_3: black;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

ul {
	margin: 0;
	padding: 0px;
	list-style: none;
}

li {
	margin: 0;
	padding: 0px;
	list-style: none;
}
body {
	background: rgb(246, 246, 246);
	font-family: $font-family_1;
}

header {
	background: rgb(255, 255, 255);
	width: 100%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #c8c8c8;
	.logo {
		img {
			width: 100px;
			vertical-align: top;
		}
		a {
			color: $color_1;
			text-decoration: none;
			line-height: 50px;
		}
	}
    nav {
		width: 50%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		a {
			background: #fff;
			color: $color_2;
			text-align: center;
			text-decoration: none;
			padding: 10px;
			flex-grow: 1;
			&:hover {
				background: #E6E7E8;
			}
		}
	}
}

.contenedor {
	background: rgb(246, 246, 246);
	padding: 20px;
}

.main {
	background: rgb(246, 246, 246);
	display: flexbox;
	justify-content: center;
	flex-flow: wrap;
	padding: 20px;
}

.team {
	h1 {
		display: flex;
		text-align: center;
		justify-content: center;
		padding-top: 30px;
	}
}
.caja {
	display: flex;
	justify-content: center;
	flex-wrap: inherit;
	padding: 30px;
	row-gap: 20px;
	column-gap: 20px;
}
.cajita_1 {
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #ffffff;
	margin: 10px;
	text-align: center;
	padding: 5px;
	h2 {
		text-align: center;
	}
}
.cajita_2 {
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #ffffff;
	margin: 10px;
	text-align: center;
	padding: 5px;
	h2 {
		text-align: center;
	}
}
.cajita_3 {
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #ffffff;
	margin: 10px;
	text-align: center;
	padding: 5px;
	h2 {
		text-align: center;
	}
}
.cajita_4 {
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 10px #c8c8c8, -5px -5px 10px #ffffff;
	margin: 10px;
	text-align: center;
	padding: 5px;
	h2 {
		text-align: center;
	}
}

.cajita_6 {
	img {
		width: 300px;
	}
	h1 {
		text-align: center;
		padding-top: 5px;
	}
	padding: 5px;
	text-align: left;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: inherit;
	padding: 30px;
	row-gap: 20px;
	column-gap: 20px;
}

.card_1 {
	flex: 1 1 10%;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
	margin: 10px;
}
.card_2 {
	flex: 1 1 10%;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
	margin: 10px;
}
.card_3 {
	flex: 1 1 10%;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
	margin: 10px;
}
.card_4 {
	flex: 1 1 10%;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
	margin: 10px;
}
.card_5 {
	flex: 1 1 10%;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
	margin: 10px;
}
.card_6 {
	flex: 1 1 10%;
	background-color: $background-color_1;
	border-radius: 15px;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
	margin: 10px;
}
.card-img {
	img {
		width: 300px;
		padding: 20px;
		border-radius: 5px 5px 0px 0px;
		flex: 1 1 70%;
	}
}

.card-body {
	p {
		padding: 5px;
		margin: 10px;
	}
	h1 {
		padding: 5px;
		margin: 10px;
	}
	h2 {
		padding: 5px;
		margin: 10px;
	}
}
.card-footer {
	display: flex;
	justify-content: center;
	align-items: center;
	button {
		display: 150px;
		background-color: $background-color_2;
		color: $color_1;
		border-radius: 10px;
		padding: 6px;
		font-size: 12px;
		cursor: pointer;
		margin-bottom: 10px;
		transition: 0.2s;
		&:hover {
			background-color: $background-color_1;
			color: $color_3;
			border: 2px solid black;
		}
	}
}
.vitrina {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: repeat(3, 200px);
	grid-template-areas: "impresion diseno" "app radio" "cine eventos";
	>div {
		display: flex;
		align-items: stretch;
		justify-content: center;
		background-color: $background-color_3;
	}
	a {
		color: $color_1;
		font-size: 30px;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		&:hover {
			opacity: 0.7;
		}
	}
}

.grid1 {
	grid-area: impresion;
	a {
		background-image: url("../images/print-foto.jpg");
	}
}
.grid2 {
	grid-area: diseno;
	a {
		background-image: url("../images/design-foto.jpg");
	}
}
.grid3 {
	grid-area: app;
	a {
		background-image: url("../images/app-foto.jpg");
	}
}
.grid4 {
	grid-area: radio;
	a {
		background-image: url("../images/radio-foto.jpg");
	}
}
.grid5 {
	grid-area: cine;
	a {
		background-image: url("../images/cine-foto.jpg");
	}
}
.grid6 {
	grid-area: eventos;
	a {
		background-image: url("../images/eventos-foto.jpg");
	}
}
.somos {
	display: flex;
	justify-content: center;
	flex-wrap: inherit;
	padding: 30px;
	row-gap: 20px;
	column-gap: 20px;
}
h2 {
	text-align: center;
	padding-top: 5px;
	text-align: center;
	padding-top: 5px;
}

.intro {
	display: flex;
	justify-content: center;
	flex-wrap: inherit;
	padding: 30px;
	row-gap: 20px;
	column-gap: 20px;
	background-color: $background-color_1;
	box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
}
.cajita_7 {
	h1 {
		text-align: center;
		padding-top: 5px;
	}
	padding: 5px;
	text-align: left;
}

footer {
	background: #EF4136;
	width: 100%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.links {
		a {
			&:hover {
				background: #56040d;
			}
		}
	}
	.social {
		a {
			color: $color_1;
			text-decoration: none;
			padding: 10px;
			display: inline-block;
		}
	}
}
.contact-container {
	width: 100%;
	margin: 5px;
	margin-top: 10px;
	padding: 5px;
	display: grid;
	align-items: stretch;
	grid-template-columns: repeat(2, 1fr);
}
.map {
	width: 100%;
	margin: 5px;
	margin-top: 10px;
	padding: 5px;
	display: grid;
	align-items: stretch;
	grid-template-columns: repeat(2, 1fr);
	iframe {
		width: 100%;
		height: 100%;
	}
}
.form-container {
	padding: auto;
	h1 {
		align-items: center;
	}
}
.contact-form {
	display: grid;
	row-gap: 1rem;
	margin: 10px;
	input {
		width: 100%;
		border: none;
		outline: none;
		background: #dbdbdb;
		padding: 5px;
		font-family: $font-family_2;
		color: $color_4;
		border-radius: 0.4rem;
	}
	textarea {
		width: 100%;
		border: none;
		outline: none;
		background: #dbdbdb;
		padding: 5px;
		font-family: $font-family_2;
		color: $color_4;
		border-radius: 0.4rem;
		resize: none;
		height: 200px;
	}
	.send-button {
		border: none;
		outline: none;
		background: #b29cc0;
		font-size: 1rem;
		font-weight: 500;
		&:hover {
			background: hs1(181, 1005);
			transition: 0, 3s all linear;
		}
	}
}

@media (max-width: 480px){
    .somos {
        flex-direction: column;
    }
    .intro {
        flex-direction: column;
    }
    .caja {
        flex-direction: column;
        h1 {
            flex-direction: column;
            text-align: center;
            padding: 10%;
        }
    }
    .primer-parrafo {
        flex-direction: column;
        padding: 10%;
    }
    h2 { 
        flex-direction: column;
        text-align: center;
        padding: 10%;
    }
}