body {
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0px;
  list-style: none;
}

body {
  background: #e9e9e9;
  font-family: "Roboto", sans-serif;
}

header {
  background: #fff;
  width: 100%;
  padding: 20px;
  box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
  /* Flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor {
  background: #fff;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  /* Flexbox */
  display: flex;
  flex-flow: row wrap;
}

header .logo img {
  width: 100px;
  vertical-align: top;
}
header .logo a {
  color: #fff;
  text-decoration: none;
  line-height: 50px;
}
header nav {
  width: 50%;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
header nav a {
  background: #fff;
  color: #3B2E43;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  /* Flexbox */
  flex-grow: 1;
}
header nav a:hover {
  background: #E6E7E8;
}

section .main {
  background: #fff;
  padding: 20px;
  flex: 1 1 70%;
  /*flex:1;*/
}

/* PORTAFOLIO SERVICIOS*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.cards {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 5px 5px 20px #c8c8c8, -5px -5px 20px #ffffff;
}

.card-img img {
  width: 100%;
  padding: 20px;
  border-radius: 5px 5px 0px 0px;
  flex: 1 1 70%;
}

.card-body p, .card-body h1 {
  padding: 5px;
}

.card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-footer button {
  display: 150px;
  background-color: grey;
  color: #fff;
  border-radius: 10px;
  padding: 6px;
  font-size: 12px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.2s;
}
.card-footer button:hover {
  background-color: #fff;
  color: red;
  border: 2px solid black;
}

/* MUESTRAS SERVICIOS*/
.vitrina {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "impresion diseno" "app radio" "cine eventos";
}
.vitrina > div {
  display: flex;
  align-items: stretch;
  /*vertical*/
  justify-content: center;
  /* horizonal */
  background-color: black;
}
.vitrina a {
  color: #fff;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.vitrina a:hover {
  opacity: 0.7;
}

.grid1 {
  grid-area: impresion;
}
.grid1 a {
  background-image: url("../images/print-foto.jpg");
}

.grid2 {
  grid-area: diseno;
}
.grid2 a {
  background-image: url("../images/design-foto.jpg");
}

.grid3 {
  grid-area: app;
}
.grid3 a {
  background-image: url("../images/app-foto.jpg");
}

.grid4 {
  grid-area: radio;
}
.grid4 a {
  background-image: url("../images/radio-foto.jpg");
}

.grid5 {
  grid-area: cine;
}
.grid5 a {
  background-image: url("../images/cine-foto.jpg");
}

.grid6 {
  grid-area: eventos;
}
.grid6 a {
  background-image: url("../images/eventos-foto.jpg");
}

/* NOSOTROS */
.about {
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

.about-img img {
  width: 100%;
}

.about-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  margin-top: 10px;
}
.about-body p {
  margin-top: 30px;
  width: 100%;
}
.about-body h1 {
  text-align: center;
}

/* FOOTER */
footer {
  background: #EF4136;
  width: 100%;
  padding: 20px;
  /* Flexbox */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
footer .links a:hover {
  background: #56040d;
}
footer .social a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
}

.contact-container, .map {
  width: 100%;
  margin: 5px;
  margin-top: 10px;
  padding: 5px;
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(2, 1fr);
}

.form-container {
  padding: auto;
}
.form-container h1 {
  align-items: center;
}

.contact-form {
  display: grid;
  row-gap: 1rem;
  margin: 10px;
}
.contact-form input {
  width: 100%;
  border: none;
  outline: none;
  background: #dbdbdb;
  padding: 5px;
  font-family: 0.9rem;
  color: rgb(0, 0, 0);
  border-radius: 0.4rem;
}
.contact-form textarea {
  width: 100%;
  border: none;
  outline: none;
  background: #dbdbdb;
  padding: 5px;
  font-family: 0.9rem;
  color: rgb(0, 0, 0);
  border-radius: 0.4rem;
  resize: none;
  height: 200px;
}
.contact-form .send-button {
  border: none;
  outline: none;
  background: #3B2E43;
  font-size: 1rem;
  font-weight: 500;
}
.contact-form .send-button:hover {
  background: hs1(181, 1005);
  transition: 0, 3s all linear;
}

.map iframe {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 480px) {
  .about {
    flex-wrap: wrap;
    padding: 5px;
  }
  .about-img img {
    width: 100%;
  }
  .about-body {
    flex: 1;
    margin: 0;
    padding: 10px;
  }
  .about-body p {
    order: 1;
    font-size: 18px;
  }
  .container .cards {
    flex-wrap: wrap;
    width: 50%;
    margin: 0;
    padding: 5px;
    display: grid;
  }
}/*# sourceMappingURL=style.css.map */